<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Konsola</title>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
        <meta property="og:title" content="TITLE " />
        <meta property="og:description" content="PDW OPIS" />

    </head>

    <body>
        <div class="console">
            <div id="output"></div>
            <input type="text" id="commandInput" placeholder="Type !help for more information" />
        </div>
        <script src="/scripts/main.js"></script>
    </body>

</html>